
<div class="image">
    <img src="assets/image/c.jpg" class="img">
</div>

<div class="title">
    <h2>Match Played Successfully</h2>
  </div>
    <br>
    <br>
    <hr id="hr">
    <div class="sub">
    <table>
      <thead>
      <th>Club A Name</th>
      <th>Club A Score</th>
      <th>Club B Name</th>
      <th>Club B Score</th>
      <th>Match Date</th>
      
      </thead>
      <tr>
        <td>{{matchTable.clubA.nameOfTheClub}}</td>
        <td>{{matchTable.clubAScore}}</td>
        <td>{{matchTable.clubB.nameOfTheClub}}</td>
        <td>{{matchTable.clubBScore}}</td>
        <td>{{matchTable.matchDate}}</td>
     
      </tr>
  </table>
  </div>