

<div class="image">
    <img src="assets/image/Main.jpg" class="img">
</div>
<div class="title">
    <h1>WELCOME TO LEAGUE MANAGER</h1>
</div>

<div class="container">
    <div class="content">
        <div class="manager">
            <img src="assets/image/match.jpg" class="images">
            <button class="btn" (click)="List()"  >  Match Table </button>
            <button  class="btn1" (click)="Goals()">Sort By Goals Scored</button>
            <button  class="btn2" (click)="Win()">Sort By Win </button>
        </div>
        <div class="customer">
            <img src="assets/image/match2.jpg" class="images">
            <button  class="btn" (click)="Match()" > Play Match </button>
        </div>
    </div>
</div>


